.product{
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px 15px;
    width: calc(100% -100px);

}
.product__items{
    display: flex;
    flex-direction: column;
    margin: .8rem 0 0 2rem;
    gap: .4rem;
}

@media screen and (max-width:500px) {
    .product{
        width: calc(100% - 30%);
        height:35vh;
    }
}